#content {
  margin: auto;
  max-width: 700px;
  padding: 10px;
  padding-top: 50px;
}

#greeting-container {
  margin-top: 20px;
}

/* Back to top button */
#button {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #ff9800;
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 4px;
}
#button:hover {
  background-color: #333;
}

/* Main font for the website */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ececec;
  margin: 0;
  padding: 0px;
}

/* Navigation bar styling: */
.navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #111;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Active status for current page */
.cur {
  background-color: #ff9800
}

/* Card styling */
.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  color: rgba(0,0,0,.87);
  margin: 10px 15px 10px 15px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
}

.card:hover {
  margin: 0;
  box-shadow: 0 3px 1px -4px rgba(0,0,0,.2), 0 2px 2px 2px rgba(0,0,0,.14), 0 1px 5px 2px rgba(0,0,0,.14);
}

.card::after {
  clear: both;
}

.card::after, .card::before {
  content: "";
  display: block;
}

.card .card-header {
  min-height: 20px;
  padding: 16px;
  position: relative;
  font-size: larger;
}

.card .card-text {
  padding: 16px;
  min-height: 20px;
  position: relative;
}

/* Centering for images */
.card .center {
  display: block;
  width: 100%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Gallery */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* Prevent overlapping divs */
.clear {
  clear: both;
}

/* Leave a Comment inputs */
#username {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 99%;
}

#txtbox {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 99%;
}

/* Comments area */
#commentThread { 
  display: block; 
  padding: 0;
  padding-top: 25px;
}

#commentThread .comment { 
  display: flex; 
  position: relative; 
  border-top: 1px solid #ddd; 
}

#commentThread .comment .avatar  { 
  flex: none;
  padding: 8px;
}
#commentThread .comment .avatar img { 
  border-radius: 50%;
}

#commentThread .comment .comment-content { 
  flex: auto;
  padding: 8px;
}

#commentThread .comment .comment-content header .pubdate { 
  color: #777; 
}
#commentThread .comment .comment-content header .userlink { 
  font-weight: bold; 
} 

.commentOptions {
  display: block;
  float: left;
  padding: 8px;
  padding-top: 0px;
}